p{
font-family: 'Courier New', Courier, monospace;
font: size 25px; ;
color: rgb(127, 255, 144);
}
.Titulo{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgb(188, 204, 84);
}
.asesino{
    border-radius: 58%;
}